.wrapper {
  height: 100vh;
  display: inline;
  justify-content: center;
  align-items: center;
  background-color:  black;
}


.gr__localhost{
  /*background: linear-gradient(to right, #E3761B, #FFAF1C);*/
  /*background: black;*/
}

body {
  background: linear-gradient(to right, #E3761B, #FFAF1C);
  /*background: #E3761B;*/
  background: #FBB066;
}


input[type="text"] {
  background-color:transparent;
  border: 0;
  border-bottom: solid 2px #F8AE66;
  /*width: 40%;*/
  padding-bottom: 4px;
  color: #FFF9EC ;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 30px;
  font-size: 18px;
}

.card-title{
  font-size: 32px;

}

h4 {
  color: white;
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: center;
  font-size: 30px;
}

li {
  background-color: transparent;
  color: white;
  font-weight: lighter;
  margin-right: 30px;
  font-size: 20px;
  opacity: 0.8;
  text-align: center;
  line-height: 2;
}

h2 {
  background-color: transparent;
  color: #fff !important;
  font-weight: lighter;
  margin-right: 30px;
  opacity: 0.9;
  text-align: center;
  font-size: 30px;
}


input[type="text"] {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
    -webkit-text-fill-color: #fff !important;
}

.btn {
  border: 0;
  padding: 8px 20px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 18px;
  cursor: pointer;
  background-color: #F4B36F;
  color: #fff;
  font-weight: 100;
}


button:active {
  outline: none;
}


#log-btn {
  border: 0;
  padding: 8px 10px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 20px;
  cursor: pointer;
  background-color: #FBB066;
  color: #fff;
  font-weight: 100;
  justify-content: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

/*.todopage {
  align-content: center;
  left: 50%;
}*/

.list {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -120%);
}

#new_task {
  top: 0%;
  bottom: 50%;
}

p {
  color: white;
}

.enter {
  margin-top:0; margin-right:auto; margin-bottom:0; margin-left:auto;
}

.SignUpbtn{
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 18px;
  cursor: pointer;
  background-color: #F4B36F;
  color: #fff;
  font-weight: 100;
}

#create_form{
  text-align: center;
}

.nav_item {
  padding: 10px;
  text-decoration: none;
  color: white;
  letter-spacing: 0.12em;
  font-size: 1.3em;
}

.courses_sec {
  margin: auto;
  width: 50%;
}

.courses_btn {
  width: 100%;
}

.login-button{
  width:280px;
}


/*APP CSS  */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700%27');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    overflow: hidden;
}

.AppHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.AppTitle {
    display: flex;
    width: 25vw;
    border-right: 1px solid #ccc;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: #696758;
    color: white;
}

.AppRoom {
    display: flex;
    width: 75vw;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: #D5CFAE;
}

.AppBody {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.MessageWrapper {
    /* display: flex;
    flex-direction: column;
    width: 75vw;
    flex: 1; */
    background-color: rgb(241, 241, 241);

    /* align-content: center;
    position: fixed;
    top: 50%;
    left: 50%; */
    margin: auto;
  width: 50%;
}


/* /Message Form /  */
.MessageForm {
  display: flex;
  flex-direction: row;
}

.MessageInput {
  flex: 1;
  padding: 20px;
  border: 0;
  border-top: 1px solid #ccc;
}

.MessageInput:focus {
  outline: none;
}

/* /MessageList/  */
.MessageList {
  /* flex: 1;
  width: 75vw;
  padding: 20px;
  overflow: auto; */

  margin: auto;
  width: 100%;
}

.Message {
   display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.MessageRight {
   align-items: flex-end;
  align-content: right;
}


.Cloud {
  padding: 10px 25px;
  border-radius: 20px;
  background-color: white;
  display: block;
  margin: 10px 20px 20px 20px;
  border-top-left-radius: 0;
  box-shadow: 1px 1px 2px #444;
  word-break: break-all;
  min-width: 20%;
}

.CloudRight {
  border-radius: 20px;
  border-top-right-radius: 0;
  background-color: rgba(159, 157, 147, 0.86);
  background-color: blue;
  color: white;
}

/* -- USERS LIST -- */

.Users {
  display: flex;
  flex: 1;
  width: 25vw;
  justify-content: flex-start;
  flex-direction: column;
  border-right: 1px solid #ccc;
  background-color: #868471;
  color: white;
}

.UsersOnline {
  padding: 20px;
  text-align: center;
  background: rgba(189, 189, 189, 0.45);
}

.UsersList {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.UserItem {
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  margin: 0 0 0 20px;
}

.UserItem > small {
  color: #2b2b2b;
  font-weight: 700;
}

.wrapper{
  background: linear-gradient(to right, #FBB066, #DA655C);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 90vh;
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
}

.image-container{
  height: 90vh;
  background: url("mars.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
  width: 40%;
}

.form-container{
  background-color: #4B314B;
  padding-top: 30vh;
  width: 60%;
  padding-right: 100px;
  padding-left: 110px;
}

.classContainer{
  height: 90vh;
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
}

.form-container h4{
  color: #FFF9EC;
}

.SignUponSubmit{
  margin-top: 50px;
}

.title{
  position: absolute;
  color: white;
  font-size: 20px;
  margin-top: 200px;
  margin-left: 40px;
}
